*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.football-home{
    background-color: blueviolet;
    height: 650px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding-top:30px ;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}
.login-btn{
    background-color: red;
    padding: 15px;
    cursor: pointer;
    
}
.login-btn:hover{
    background-color: gold;

}
.live-btn{
    color: azure;
    background-color: rgb(240, 84, 84);
    padding: 15px;
    margin-left: 80px;
    position: absolute;
    bottom: -75px;

}
.football-home h1{
    padding-top: 40px;
    padding-left: 60px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.main-home{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.main-home img{
    height: 500px;
    padding-right: 70px;
    padding-top: 50px;
}
.main-home h1{
    margin-left: 100px;
    padding: 100px;
    font-size: 70px;
    color: aliceblue;

}
.players{
    margin-top: 30px;
}

.players_info{
    display: flex;
    justify-content: space-between;
    /* padding: 60px; */
    padding-right: 60px;
    padding-left: 60px;
    
}
.player-sources{
    box-shadow: 1px 1px 2px 3px lightgrey;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.player-sources img {
    height: 250px;
    width: 350px;
}
.player-sources h1{
    font-size: 40px;
    margin-top: 10px;
    padding-top: 10px;
}
.player-sources p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.news-main-section{
    background-color: rgb(222, 222, 222);
    padding: 10px 0px;
}
.news-head h3{
    padding-left: 80px;
    color: red;
}
.news-head h1{
    padding-left: 80px;
    font-weight: bolder;

}

.news_section{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}
.news img{
    width: 250px;
}
.news{
    display: flex;
    box-shadow: 2px 2px 2px 2px gray;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #fff;
    
}
.news h5{
    font-size: 20px;
    padding: 20px;
    color: brown;
}
.news h3 {
 padding-left: 20px;
}
.news p{
    padding-top: 20px;
    padding-left: 20px ;
}
.stadium img{
    width: 100%;
}
.Football-Gallery{
    display: flex;
    padding: 20px 40px;
}
.first-art h1{
 padding-top: 20px;
 padding-left: 80px;
 font-style: italic;
 font-size: 40px;
}
.first-art h3{
 padding-top: 20px;
 padding-left: 80px;
 font-family: 'Courier New', Courier, monospace;

}
.first-art button{
    margin-top: 20px;
    margin-left: 80px;
    background-color: rgb(240, 84, 84);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
}
.pic-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.pic-gallery img{
    width: 250px;
    padding: 2px;
}
.copa-start{
    display: flex;
    padding: 10px 30px;
}
.copa-match h1{
    padding-top: 20px;
    padding-left: 150px;
    font-style: italic;
    font-size: 50px;
}
.copa-match h3{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 100px;
    font-family: 'Courier New', Courier, monospace; 
}
.copa-match button{
    margin-top: 20px;
    margin-left: 150px;
    background-color: rgb(239, 81, 81);
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: none; 
    font-size: 15px; 
}
.match img{
    width: 500px   
}
.log{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.log img{
    width: 300px;
}

.social-icon img{
    width: 50px;
}
.allright{
    text-align: center;
    padding-bottom: 20px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .main-home{
        flex-direction: column;
        height: 350px;

    }
    .main-home h1{
        font-size: 25px;
        /* align-items: center; */
        padding: 10px 20px;
        padding-right: 120px;
    }
    .live-btn{
        padding: 15px;
        margin-left: 80px;
        position: absolute;
        bottom: 252px;
    }
    .players_info{
        flex-direction: column;
        padding: 5px 5px;
    }
    .players_info img{
        width: 350px;
        /* padding: 5px 5px; */
        padding-right: 20px;
    }
    .news_section{
        flex-direction: column;
        margin: 5px 10px;   
    }
    .news_section img{
        width: 370px;
        padding: 10px 10px;
    }
    .news{
        flex-direction: column;
    }
    .Football-Gallery{
        flex-direction: column;
        /* font-size: 20px; */
    }
    .Football-Gallery img{
          width: 190px;
    }
    .copa-start{
        flex-direction: column;
        padding: 5px 10px;
    }
    .copa-start img{
        width: 400px;
    }
    .youtube-vid{
        height: 400px;
        width: 700px;
    }
}
  